#loading-content {
  position: fixed;
  background: #FFFFFF;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  color: #000000;
}